{% block head %}
    <link rel="stylesheet" href="{{ asset('/bundles/gitparserparser/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/gitparserparser/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/gitparserparser/css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/gitparserparser/css/main.css') }}">
    {% block stylesheets %}

    {% endblock %}
    <script src="{{ asset('/bundles/gitparserparser/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}

    {% endblock %}
{% endblock %}
{% block body %}
<div class="wrapper">
    <div class="main-container">
        <div>
            <div class="cloud-header"></div>
            <div class="header">
                <div class="logo"></div>
                <div class="rocket"></div>
                <div class="navigation">
                    <ul>
                        <li>main</li>
                        <li>services</li>
                        <li>about</li>
                        <li>contact</li>
                    </ul>
                </div>
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="moon"></div>
            <ul>
                <li>© 2013 GitParser Inc.</li>
                <li style="float: right; margin-right: 30px;"><a href="#">Privacy Policy</a></li>
                <li style="float: right; margin-right: 30px;"><a href="#">Technical Support</a></li>
                <li style="float: right; margin-right: 30px;"><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

