<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/reset.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/main.css') }}">
<script src="{{ asset('bundles/gitparserparser/js/bootstrap.min.js') }}"></script>
</html>
<body>
<div class="wrapper">
    <div class="main-container">
        <div class="cloud-header"></div>
        <div class="header">
            <div class="logo"></div>
            <div class="rocket"></div>
            <div class="navigation">
                <ul>
                    <li>main</li>
                    <li>services</li>
                    <li>about</li>
                    <li>contact</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="part-one">
                    <div class="astronaut"></div>
                    {{ form(form) }}
                </div>
                <div class="part-two">
                    <div class="repo"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="moon"></div>
            <ul>
                <li>© 2013 GitParser Inc.</li>
                <li style="float: right; margin-right: 30px;"><a href="#">Privacy Policy</a></li>
                <li style="float: right; margin-right: 30px;"><a href="#">Technical Support</a></li>
                <li style="float: right; margin-right: 30px;"><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>


</body>
