<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/reset.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/gitparserparser/css/main.css') }}">
<script type="text/javascript" src="{{ asset('bundles/gitparserparser/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gitparserparser/js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gitparserparser/js/highcharts.js') }}"></script>
<script src="{{ asset('bundles/gitparserparser/js/bootstrap.min.js') }}"></script>
</html>
<body>
<div class="wrapper">
    <div class="main-container">
        <div class="cloud-header"></div>
        <div class="header">
            <div class="logo"></div>
            <div class="rocket"></div>
            <div class="navigation">
                <ul>
                    <li>main</li>
                    <li>services</li>
                    <li>about</li>
                    <li>contact</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div>
                <span id="all-items-count">Common count of commits: {{ commits_amount }}</span>
            </div>
            <div id="container" class="info-content">
            </div>
            <div style="display: block">
                {% for author in authors_info %}
                    <div class="allData" data-author-name = "{{ author.name }}" data-commits-amount="{{ author.commits_amount }}"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="moon"></div>
            <ul>
                <li>© 2013 GitParser Inc.</li>
                <li style="float: right; margin-right: 30px;"><a href="#">Privacy Policy</a></li>
                <li style="float: right; margin-right: 30px;"><a href="#">Technical Support</a></li>
                <li style="float: right; margin-right: 30px;"><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>


</body>