body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: url("../img/stars.png"),
    url("../img/background.jpg") repeat-x;
}
.main-container {
    width: 1348px;
    margin: 0 auto;
}
.cloud-header {
    background: url("../img/cloud2.png") no-repeat 0 0;
    width: 1700px;
    height: 300px;
    z-index: 100;
    position: absolute;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 313px;
    /*background: url("/../bundles/gitparserparser/img/cloud.png") no-repeat;*/
    //background: url("../img/cloud2.png") no-repeat -20px 0;
    z-index: 100;
    position: relative;
}
.logo {
    width: 292px;
    height: 226px;
    background: url("../img/logo.png");
    position: relative;
    float: left;
    margin: 56px 0 0 115px;
}

.rocket {
    background: url("../img/rocket2.png") 240px 30px no-repeat;
    transform: rotate(-7deg);
    width: 360px;
    height: 210px;
    overflow: hidden;
    float: left;
    opacity: 0.6;
    z-index: 10;
}

.content {
    /*height: 355px;*/
}

.part-one {
    float: left;
    width: 50%;
}

.part-one form {
    padding: 20px 0 0 189px;
}

.astronaut {
    background: url("../img/astranaut.png") 40px 20px no-repeat;
    width: 180px;
    height: 300px;
    overflow: hidden;
    float: left;
}

.moon {
    background: url("../img/moon.png") 40px 20px no-repeat;
    width: 180px;
    height: 120px;
    margin: -200px 140px 0 0;
    overflow: hidden;
    float: right;
    opacity: 1;
}

.part-two {
    float: left;
    width: 50%;
}

.part-two .repo {
    padding-right: 20px;
    background: url("../img/repo.png") no-repeat;
    background-position: 100px -30px;
    overflow: hidden;
    height: 331px;
}

.navigation ul {
    float: right;
    margin: 100px 150px 0 0;
    color: #FFF;
    font-size: 24px;
    font-style: italic;
    font-family: Calibri;
}

.navigation ul li {
    float: left;
    height: 20px;
    margin: 0;
    padding: 0 0 0 40px;
    z-index: 100000;
}

.navigation ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

form label {
    display: none;
}

form input {
    margin-top: 20px;
}

form button {
    margin-top: 20px;
}


.footer {
    height: 320px;
    opacity: 0.7;
    width: 100%;
    background: url("../img/footer.png") repeat-x;
    position: relative;
    bottom: 0px;
    overflow: hidden;
}

.footer-content {
    border-top: 1px solid #E8E8E8;
    opacity: 0.5;
    width: 1280px;
    margin: 240px auto 0 auto;
    z-index: 10;
}

.footer-content ul {
    color: #FFFFFF;
    z-index: 10000;
    position: relative;
    height: 20px;
    width: 100%;
}

.footer-content ul li {
     float: left;
     color: #FFFFFF;
}

.footer-content ul li a {
    color: #FFF;
    text-decoration: none;
}

.footer-content ul li a:hover {
    color: #FFF;
    text-decoration: underline;
}

.info-content {
    border: 2px solid white;
    /*background: bisque;*/
    width: 90%;
    margin: 0 auto;
    height: 600px;
}

#all-items-count {
    padding: 63px;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 5px orange;
}